{{template "../amz/header.html"}}

<body data-type="index">




{{template "../amz/body.html"}}


    <div class="tpl-page-container tpl-page-header-fixed">

        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                左侧导航栏展示
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                {{/*<li class="tpl-left-nav-item">*/}}
                {{/*<a href="index.html" class="nav-link active">*/}}
                {{/*<i class="am-icon-home"></i>*/}}
                {{/*<span>首页</span>*/}}
                {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*<li class="tpl-left-nav-item">*/}}
                {{/*<a href="chart.html" class="nav-link tpl-left-nav-link-list">*/}}
                {{/*<i class="am-icon-bar-chart"></i>*/}}
                {{/*<span>数据表</span>*/}}
                {{/*<i class="tpl-left-nav-content tpl-badge-danger">*/}}
                {{/*12*/}}
                {{/*</i>*/}}
                {{/*</a>*/}}
                {{/*</li>*/}}
                {{range .tree}}
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>{{.Text}}</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            {{range .Children}}
                            <li>
                                <a href="{{.Attributes.Url}}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>{{.Text}}</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
                {{/*<li class="tpl-left-nav-item">*/}}
                {{/*<a href="javascript:;" class="nav-link tpl-left-nav-link-list">*/}}
                {{/*<i class="am-icon-wpforms"></i>*/}}
                {{/*<span>表单</span>*/}}
                {{/*<i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>*/}}
                {{/*</a>*/}}
                {{/*<ul class="tpl-left-nav-sub-menu" style="display: block;">*/}}
                {{/*<li>*/}}
                {{/*<a href="form-amazeui.html">*/}}
                {{/*<i class="am-icon-angle-right"></i>*/}}
                {{/*<span>Amaze UI 表单</span>*/}}
                {{/*<i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>*/}}
                {{/*</a>*/}}

                {{/*<a href="form-line.html">*/}}
                {{/*<i class="am-icon-angle-right"></i>*/}}
                {{/*<span>线条表单</span>*/}}
                {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*</ul>*/}}
                {{/*</li>*/}}

                </ul>
            </div>
        </div>
    {{/*{{template "../amz/right.html"}}*/}}

    </div>

{{template "../amz/foot.html"}}