<div class="tpl-left-nav tpl-left-nav-hover">
    <div class="tpl-left-nav-title">
        左侧导航栏展示
    </div>
    <div class="tpl-left-nav-list">
        <ul class="tpl-left-nav-menu">
        {{range .tree}}
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>{{.Text}}</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                {{range .Children}}
                    <li>
                        <a href="{{.Attributes.Url}}">
                            <i class="am-icon-angle-right"></i>
                            <span>{{.Text}}</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                {{end}}
                </ul>
            </li>
        {{end}}

        </ul>
    </div>
</div>