{{template "../amz/header.html"}}

<body data-type="generalComponents">

{{template "../amz/body.html"}}


    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                左侧导航栏展示
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                {{range .tree}}
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>{{.Text}}</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                        {{range .Children}}
                            <li>
                                <a href="{{.Attributes.Url}}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>{{.Text}}</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                        {{end}}
                        </ul>
                    </li>
                {{end}}

                </ul>
            </div>
        </div>


        <div class="tpl-content-wrapper">
        {{/*<ol class="am-breadcrumb">*/}}
        {{/*<li><a href="" class="am-icon-home">首页</a></li>*/}}
        {{/*<li class="am-active">用户列表</li>*/}}
        {{/*</ol>*/}}
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class=""></span> <a href="/public/index" class="am-icon-home">首页</a>
                        <span class=""></span>>>> 权限 添加
                    </div>
                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">上一级 / Level</label>
                                    <div class="am-u-sm-9">
                                        <select name="pid" id="pid">
                                            <option value="请选择">请选择</option>
                                        {{range $a,$b := $.powers1}}
                                        {{if eq $b.Pid 0}}
                                            <option value="{{$b.Pid}}--{{$b.Id}}">{{$b.Powername}}</option>
                                        {{end}}
                                        {{range $c,$d := $.powers2}}
                                        {{if eq $d.Pid $b.Id}}
                                            <option value="{{$d.Pid}}--{{$d.Id}}">&nbsp;&nbsp;├─{{$d.Powername}}</option>
                                        {{end}}
                                        {{end}}
                                        {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">权限名称 / Powername</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="power-name" name="powername" >
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">应用 / Controller</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="controller" name="controller" >
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">菜单 / Action</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="action" name="action" >
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-status" class="am-u-sm-3 am-form-label">状态</label>
                                    <div class="am-u-sm-9">
                                        <input type="radio" name="status" id="power-status2" value="2" checked>    <span style="margin-left: 5px">开启</span>
                                        <input type="radio" name="status" id="power-status1" value="1" >   <span style="margin-left: 5px">关闭</span>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>

{{template "../amz/foot.html"}}
<script>
    var URL = "/admin/power/"
    $(".am-btn-primary").click(function () {
        var powername = $("#power-name").val()
        var controller = $("#controller").val()
        var action = $("#action").val()
        var p = $("#pid").val()
        var arr = p.split("--")
        var status = $("input[name=status]:checked").val();
        if (arr == "请选择"){
            arr[0] = 0
        }
        $.post(
                URL + 'adds',
                {id:arr[1],powername:powername,controller:controller,action:action,status:status,pid:arr[0]},
                function (res) {
                    if (res.status) {
                        location.href = URL
                    } else {
                        alert(res.info);
                        return
                    }

                }
        )
    })

</script>