{{template "../amz/header.html"}}

<body data-type="generalComponents">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/static/assets/i/q.jpg" alt="">
        </a>
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">{{.username}}</span><span class="tpl-header-list-user-ico"> <img src="/static/assets//img/user01.png"></span>
                </a>
            </li>
            <li><a href="/public/logout" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                左侧导航栏展示
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                {{range .tree}}
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>{{.Text}}</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                        {{range .Children}}
                            <li>
                                <a href="{{.Attributes.Url}}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>{{.Text}}</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                        {{end}}
                        </ul>
                    </li>
                {{end}}

                </ul>
            </div>
        </div>


        <div class="tpl-content-wrapper">
        {{/*<ol class="am-breadcrumb">*/}}
        {{/*<li><a href="" class="am-icon-home">首页</a></li>*/}}
        {{/*<li class="am-active">用户列表</li>*/}}
        {{/*</ol>*/}}
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class=""></span> <a href="/public/index" class="am-icon-home">首页</a>
                        <span class=""></span>>>> 角色添加
                    </div>
                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">角色名称 / Rolename</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="role-name" name="rolename" placeholder="角色名称 / Rolename">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">角色描述 / Remark</label>
                                    <div class="am-u-sm-9">
                                        <textarea class="" rows="5" id="role-remark" name="remark" placeholder="角色描述"></textarea>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-status" class="am-u-sm-3 am-form-label">状态</label>
                                    <div class="am-u-sm-9">
                                        <input type="radio" name="status" placeholder="请选择状态" value="2" checked>    <span style="margin-left: 5px">开启</span>
                                        <input type="radio" name="status"  placeholder="请选择状态" value="1">   <span style="margin-left: 5px">关闭</span>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>

{{template "../amz/foot.html"}}
<script>
	var URL = "/admin/role"
	$(".am-btn-primary").click(function () {
        var rolename = $("#role-name").val()
        var remark = $("#role-remark").val()
        var status =  $("input[name='status']:checked").val();
        $.post(
            URL + '/adds',
			{rolename:rolename,remark:remark,status:status},
			function (res) {
                if (res.status) {
                    location.href = URL
                } else {
                    alert(res.info);
                    return
                }

            }
		)
    })
    $(function(){
        $(".tpl-left-nav-sub-menu").css("display","block");
    })
</script>