{{template "../amz/header.html"}}

<body data-type="generalComponents">

{{template "../amz/body.html"}}


    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                左侧导航栏展示
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                {{range .tree}}
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>{{.Text}}</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                        {{range .Children}}
                            <li>
                                <a href="{{.Attributes.Url}}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>{{.Text}}</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                        {{end}}
                        </ul>
                    </li>
                {{end}}

                </ul>
            </div>
        </div>


        <div class="tpl-content-wrapper">
        {{/*<ol class="am-breadcrumb">*/}}
        {{/*<li><a href="" class="am-icon-home">首页</a></li>*/}}
        {{/*<li class="am-active">用户列表</li>*/}}
        {{/*</ol>*/}}
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class=""></span> <a href="/public/index" class="am-icon-home">首页</a>
                        <span class=""></span>>>> 用户添加
                    </div>
                {{/*<div class="tpl-portlet-input tpl-fz-ml">*/}}
                {{/*<div class="portlet-input input-small input-inline">*/}}
                {{/*<div class="input-icon right">*/}}
                {{/*<i class="am-icon-search"></i>*/}}
                {{/*<input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>*/}}
                {{/*</div>*/}}
                {{/*</div>*/}}



                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="user-name" placeholder="姓名 / Name">
                                        <small>输入你的名字，让我们记住你。</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件 / Email</label>
                                    <div class="am-u-sm-9">
                                        <input type="email" id="user-email" placeholder="输入你的电子邮件 / Email">
                                        <small>邮箱你懂得...</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">电话 / Telephone</label>
                                    <div class="am-u-sm-9">
                                        <input type="tel" id="user-phone" placeholder="输入你的电话号码 / Telephone">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-QQ" class="am-u-sm-3 am-form-label">QQ</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" pattern="[0-9]*" id="user-QQ" placeholder="输入你的QQ号码">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">微博 / Twitter</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="user-weibo" placeholder="输入你的微博 / Twitter">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">简介 / Intro</label>
                                    <div class="am-u-sm-9">
                                        <textarea class="" rows="5" id="user-intro" placeholder="输入个人简介"></textarea>
                                        <small>250字以内写出你的一生...</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>
{{template "../amz/foot.html"}}